<footer>
  <div class="footer-container">
    <div class="footer-info">
      <p>&copy; {{ helpers.currentYear() }} {{ business.meta.businessName or (business.meta.firstName + " " + business.meta.lastName) }}. All rights reserved.</p>
    </div>
    
    <nav class="footer-nav">
      <a href="https://readymadedomain.com/" target="_blank">Powered by Ready Made Domain</a>
    </nav>
  </div>
</footer>